# Configuration file

balancing {
    # Allows shards with the same entity type to be combined in an anvil. It is a direct addition and mainly intended for co-op play. [default: true]
    B:allowShardCombination=true

    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # The item used to create a Soul Shard. [default: minecraft:diamond:0]
    S:catalystItem=minecraft:diamond:0

    # Enables a convenience recipe that allows you to reset the stats of a Soul Shard. [default: true]
    B:convenienceReset=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=true

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Forces Soul Cages to require a Redstone signal in order to spawn entities. [default: false]
    B:forceRedstoneRequirement=false

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=200
}


client {
    # Adds a Shard for each enabled mob to the creative tab. [default: false]
    B:addShardsForAllMobs=false

    # Adds A shards for mobs even if they are blacklisted [default: false]
    B:ignoreBlacklistForTab=false
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    # HARDMODE - Reduces the contained souls of the shard by 1 for each mob spawned. Does not reduce tier. Recommended to disable "countCageBornForShard".
    S:compatibilityType=VANILLA

    # Adds a Tinkers Construct modifier for Soul Stealer. [default: true]
    B:enableSoulStealerModifier=true

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # If enabled, additional information will be logged to console. Mostly timing information. [default: false]
    B:debugLogging=false

    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=1

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:"aether_legacy:aechor_plant"=true
    B:"aether_legacy:aerbunny"=true
    B:"aether_legacy:aerwhale"=true
    B:"aether_legacy:cockatrice"=true
    B:"aether_legacy:fire_ball"=true
    B:"aether_legacy:fire_minion"=true
    B:"aether_legacy:flying_cow"=true
    B:"aether_legacy:ice_ball"=true
    B:"aether_legacy:mimic"=true
    B:"aether_legacy:mini_cloud"=true
    B:"aether_legacy:moa"=true
    B:"aether_legacy:phyg"=true
    B:"aether_legacy:sentry"=true
    B:"aether_legacy:sheepuff"=true
    B:"aether_legacy:slider"=true
    B:"aether_legacy:sun_spirit"=true
    B:"aether_legacy:swet"=true
    B:"aether_legacy:thunder_ball"=true
    B:"aether_legacy:valkyrie"=true
    B:"aether_legacy:valkyrie_queen"=true
    B:"aether_legacy:whirlwind"=true
    B:"aether_legacy:zephyr"=true
    B:"animalbikes:batbike"=true
    B:"animalbikes:bunnybike"=true
    B:"animalbikes:chickenbike"=true
    B:"animalbikes:chinesedragonbike"=true
    B:"animalbikes:chocobobike"=true
    B:"animalbikes:cowbike"=true
    B:"animalbikes:creeperbike"=true
    B:"animalbikes:dinobike"=true
    B:"animalbikes:dinobike2"=true
    B:"animalbikes:dinobike3"=true
    B:"animalbikes:dinobike4"=true
    B:"animalbikes:dragonbike"=true
    B:"animalbikes:endermanbike"=true
    B:"animalbikes:flowerbike"=true
    B:"animalbikes:ghastbike"=true
    B:"animalbikes:ironmanbike"=true
    B:"animalbikes:notchbike"=true
    B:"animalbikes:ocelotbike"=true
    B:"animalbikes:ocelotbikechild"=true
    B:"animalbikes:pigbike"=true
    B:"animalbikes:polarbearbike"=true
    B:"animalbikes:ponybike"=true
    B:"animalbikes:ponyflyingbike"=true
    B:"animalbikes:reindeerbike"=true
    B:"animalbikes:sheepbike"=true
    B:"animalbikes:silverfishbike"=true
    B:"animalbikes:slimebike"=true
    B:"animalbikes:snowmanbike"=true
    B:"animalbikes:spiderbike"=true
    B:"animalbikes:squidbike"=true
    B:"animalbikes:witherbike"=true
    B:"animalbikes:wolfbike"=true
    B:"armorplus:ender_dragon_zombie"=true
    B:"armorplus:ice_golem"=true
    B:"armorplus:overlord_of_the_guardians"=true
    B:"armorplus:skeletal_king"=true
    B:"astralsorcery:entityflare"=true
    B:"astralsorcery:entityliquidspark"=true
    B:"astralsorcery:entityspectraltool"=true
    B:"beneath:shadow"=true
    B:"betteragriculture:chicken1"=true
    B:"betteragriculture:chicken10"=true
    B:"betteragriculture:chicken2"=true
    B:"betteragriculture:chicken3"=true
    B:"betteragriculture:chicken4"=true
    B:"betteragriculture:chicken5"=true
    B:"betteragriculture:chicken6"=true
    B:"betteragriculture:chicken7"=true
    B:"betteragriculture:chicken8"=true
    B:"betteragriculture:chicken9"=true
    B:"betteragriculture:cow1"=true
    B:"betteragriculture:cow10"=true
    B:"betteragriculture:cow2"=true
    B:"betteragriculture:cow3"=true
    B:"betteragriculture:cow4"=true
    B:"betteragriculture:cow5"=true
    B:"betteragriculture:cow6"=true
    B:"betteragriculture:cow7"=true
    B:"betteragriculture:cow8"=true
    B:"betteragriculture:cow9"=true
    B:"betteragriculture:pig1"=true
    B:"betteragriculture:pig10"=true
    B:"betteragriculture:pig2"=true
    B:"betteragriculture:pig3"=true
    B:"betteragriculture:pig4"=true
    B:"betteragriculture:pig5"=true
    B:"betteragriculture:pig6"=true
    B:"betteragriculture:pig7"=true
    B:"betteragriculture:pig8"=true
    B:"betteragriculture:pig9"=true
    B:"betteragriculture:sheep1"=true
    B:"betteragriculture:sheep10"=true
    B:"betteragriculture:sheep2"=true
    B:"betteragriculture:sheep3"=true
    B:"betteragriculture:sheep4"=true
    B:"betteragriculture:sheep5"=true
    B:"betteragriculture:sheep6"=true
    B:"betteragriculture:sheep7"=true
    B:"betteragriculture:sheep8"=true
    B:"betteragriculture:sheep9"=true
    B:"bloodmagic:corruptedchicken"=true
    B:"bloodmagic:corruptedsheep"=true
    B:"bloodmagic:corruptedspider"=true
    B:"bloodmagic:corruptedzombie"=true
    B:"bloodmagic:mimic"=true
    B:"bloodmagic:sentientspecter"=true
    B:"botania:doppleganger"=true
    B:"botania:pink_wither"=true
    B:"botania:pixie"=true
    B:"cavern:caveman"=true
    B:"cavern:cavenic_bear"=true
    B:"cavern:cavenic_creeper"=true
    B:"cavern:cavenic_skeleton"=true
    B:"cavern:cavenic_spider"=true
    B:"cavern:cavenic_witch"=true
    B:"cavern:cavenic_zombie"=true
    B:"cavern:crazy_creeper"=true
    B:"cavern:crazy_skeleton"=true
    B:"cavern:crazy_spider"=true
    B:"cavern:crazy_zombie"=true
    B:"cavern:squid"=true
    B:"cavern:summon_cavenic_skeleton"=true
    B:"cavern:summon_cavenic_zombie"=true
    B:"cavern:summon_skeleton"=true
    B:"cavern:summon_zombie"=true
    B:"chickens:chickenschicken"=true
    B:"claysoldiers:claysoldier"=true
    B:"claysoldiers:mounthorse"=true
    B:"creeperchicks:creeperchick"=true
    B:"cyberware:cyberzombie"=true
    B:"draconicevolution:chaosguardian"=true
    B:"duckcraft:duck"=true
    B:"embers:ancient_golem"=true
    B:"enderutilities:endermanfighter"=true
    B:"enderzoo:concussioncreeper"=true
    B:"enderzoo:direslime"=true
    B:"enderzoo:direwolf"=true
    B:"enderzoo:enderminy"=true
    B:"enderzoo:fallenknight"=true
    B:"enderzoo:fallenmount"=true
    B:"enderzoo:owl"=true
    B:"enderzoo:withercat"=true
    B:"enderzoo:witherwitch"=true
    B:"energeticsheep:energetic_sheep"=true
    B:"essentialcraft:essentialcraft.common.entity.entitydemon"=true
    B:"essentialcraft:essentialcraft.common.entity.entityhologram"=true
    B:"essentialcraft:essentialcraft.common.entity.entityplayerclone"=true
    B:"essentialcraft:essentialcraft.common.entity.entitypoisonfume"=true
    B:"essentialcraft:essentialcraft.common.entity.entitywindmage"=true
    B:"evilcraft:controlled_zombie"=true
    B:"evilcraft:netherfish"=true
    B:"evilcraft:poisonous_libelle"=true
    B:"evilcraft:vengeance_spirit"=true
    B:"evilcraft:werewolf"=true
    B:"forestry:butterflyge"=true
    B:"fp:crawler"=true
    B:"fp:evil_robot"=true
    B:"fp:gehuf"=true
    B:"fp:heuler"=true
    B:"fp:wolba"=true
    B:"gravestone:player_ghost"=true
    B:"grue:entitygrue"=true
    B:"headcrumbs:human"=true
    B:"industrialforegoing:pink_slime"=true
    B:"lightningcraft:demon_soldier"=true
    B:"lightningcraft:helper_zombie"=true
    B:"lightningcraft:underworld_creeper"=true
    B:"lightningcraft:underworld_ghast"=true
    B:"lightningcraft:underworld_silverfish"=true
    B:"lightningcraft:underworld_skeleton"=true
    B:"lightningcraft:underworld_slime"=true
    B:"lostthaumaturgy:smart_zombie"=true
    B:"lostthaumaturgy:traveling_trunk"=true
    B:"lostthaumaturgy:tslime"=true
    B:"lostthaumaturgy:wisp"=true
    B:"mekanism:babyskeleton"=true
    B:"mekanism:robit"=true
    B:"minecraft:bat"=true
    B:"minecraft:blaze"=true
    B:"minecraft:cave_spider"=true
    B:"minecraft:chicken"=true
    B:"minecraft:cow"=true
    B:"minecraft:creeper"=true
    B:"minecraft:donkey"=true
    B:"minecraft:elder_guardian"=true
    B:"minecraft:ender_dragon"=true
    B:"minecraft:enderman"=true
    B:"minecraft:endermite"=true
    B:"minecraft:evocation_illager"=true
    B:"minecraft:ghast"=true
    B:"minecraft:giant"=true
    B:"minecraft:guardian"=true
    B:"minecraft:horse"=true
    B:"minecraft:husk"=true
    B:"minecraft:illusion_illager"=true
    B:"minecraft:llama"=true
    B:"minecraft:magma_cube"=true
    B:"minecraft:mooshroom"=true
    B:"minecraft:mule"=true
    B:"minecraft:ocelot"=true
    B:"minecraft:parrot"=true
    B:"minecraft:pig"=true
    B:"minecraft:polar_bear"=true
    B:"minecraft:rabbit"=true
    B:"minecraft:sheep"=true
    B:"minecraft:shulker"=true
    B:"minecraft:silverfish"=true
    B:"minecraft:skeleton"=true
    B:"minecraft:skeleton_horse"=true
    B:"minecraft:slime"=true
    B:"minecraft:snowman"=true
    B:"minecraft:spider"=true
    B:"minecraft:squid"=true
    B:"minecraft:stray"=true
    B:"minecraft:vex"=true
    B:"minecraft:villager"=true
    B:"minecraft:villager_golem"=true
    B:"minecraft:vindication_illager"=true
    B:"minecraft:witch"=true
    B:"minecraft:wither"=true
    B:"minecraft:wither_skeleton"=true
    B:"minecraft:wolf"=true
    B:"minecraft:zombie"=true
    B:"minecraft:zombie_horse"=true
    B:"minecraft:zombie_pigman"=true
    B:"minecraft:zombie_villager"=true
    B:"muchmorechickens:andesitechicken"=true
    B:"muchmorechickens:blazechicken"=true
    B:"muchmorechickens:bonechicken"=true
    B:"muchmorechickens:boomchicken"=true
    B:"muchmorechickens:brickchicken"=true
    B:"muchmorechickens:cacaochicken"=true
    B:"muchmorechickens:charcoalchicken"=true
    B:"muchmorechickens:choruschicken"=true
    B:"muchmorechickens:claychicken"=true
    B:"muchmorechickens:coalchicken"=true
    B:"muchmorechickens:cobblestonechicken"=true
    B:"muchmorechickens:diamondchicken"=true
    B:"muchmorechickens:dioritechicken"=true
    B:"muchmorechickens:dirtchicken"=true
    B:"muchmorechickens:dragonchicken"=true
    B:"muchmorechickens:easterchicken"=true
    B:"muchmorechickens:emeraldchicken"=true
    B:"muchmorechickens:endchicken"=true
    B:"muchmorechickens:enderchicken"=true
    B:"muchmorechickens:eorbchicken"=true
    B:"muchmorechickens:experiencechicken"=true
    B:"muchmorechickens:frostchicken"=true
    B:"muchmorechickens:glowstonechicken"=true
    B:"muchmorechickens:goldenchicken"=true
    B:"muchmorechickens:granitechicken"=true
    B:"muchmorechickens:gravelchicken"=true
    B:"muchmorechickens:inkchicken"=true
    B:"muchmorechickens:ironchicken"=true
    B:"muchmorechickens:lapischicken"=true
    B:"muchmorechickens:lavachicken"=true
    B:"muchmorechickens:mushroomchicken"=true
    B:"muchmorechickens:myceliumchicken"=true
    B:"muchmorechickens:netherackchicken"=true
    B:"muchmorechickens:oakchicken"=true
    B:"muchmorechickens:obsidianchicken"=true
    B:"muchmorechickens:quartzchicken"=true
    B:"muchmorechickens:redmushroomchicken"=true
    B:"muchmorechickens:redsandchicken"=true
    B:"muchmorechickens:redstonechicken"=true
    B:"muchmorechickens:rosechicken"=true
    B:"muchmorechickens:sandchicken"=true
    B:"muchmorechickens:slimechicken"=true
    B:"muchmorechickens:snowchicken"=true
    B:"muchmorechickens:stonechicken"=true
    B:"muchmorechickens:wartchicken"=true
    B:"muchmorechickens:waterchicken"=true
    B:"muchmorechickens:whitechicken"=true
    B:"muchmorechickens:witherchicken"=true
    B:"playerskins:playermob"=true
    B:"plustic:blindbandit"=true
    B:"plustic:supremeleader"=true
    B:"pneumaticcraft:drone"=true
    B:"pneumaticcraft:logistic_drone"=true
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:"randomthings:spirit"=true
    B:"shear:chickennaked"=true
    B:"shear:cownaked"=true
    B:"shear:llamanaked"=true
    B:"shear:parrotnaked"=true
    B:"shear:pigmannaked"=true
    B:"shear:pignaked"=true
    B:"shear:polarbearnaked"=true
    B:"shear:rabbitnaked"=true
    B:"silentgems:enderslime"=true
    B:"statues:fake_blaze"=true
    B:"statues:fake_creeper"=true
    B:"statues:fake_enderman"=true
    B:"statues:fake_ghast"=true
    B:"statues:fake_guardian"=true
    B:"statues:fake_husk"=true
    B:"statues:fake_magmacube"=true
    B:"statues:fake_shulker"=true
    B:"statues:fake_skeleton"=true
    B:"statues:fake_slime"=true
    B:"statues:fake_witch"=true
    B:"statues:fake_zombie"=true
    B:"statues:statue_bat"=true
    B:"tconstruct:blueslime"=true
    B:"thermalfoundation:basalz"=true
    B:"thermalfoundation:blitz"=true
    B:"thermalfoundation:blizz"=true
    B:"torochess:torochess_bishop"=true
    B:"torochess:torochess_king"=true
    B:"torochess:torochess_knight"=true
    B:"torochess:torochess_pawn"=true
    B:"torochess:torochess_queen"=true
    B:"torochess:torochess_rook"=true
    B:"totemic:baykok"=true
    B:"totemic:buffalo"=true
    B:"twilightforest:adherent"=true
    B:"twilightforest:armored_giant"=true
    B:"twilightforest:bighorn_sheep"=true
    B:"twilightforest:blockchain_goblin"=true
    B:"twilightforest:boggard"=true
    B:"twilightforest:bunny"=true
    B:"twilightforest:death_tome"=true
    B:"twilightforest:deer"=true
    B:"twilightforest:fire_beetle"=true
    B:"twilightforest:firefly"=true
    B:"twilightforest:giant_miner"=true
    B:"twilightforest:goblin_knight_lower"=true
    B:"twilightforest:goblin_knight_upper"=true
    B:"twilightforest:harbinger_cube"=true
    B:"twilightforest:hedge_spider"=true
    B:"twilightforest:helmet_crab"=true
    B:"twilightforest:hostile_wolf"=true
    B:"twilightforest:hydra"=true
    B:"twilightforest:hydra_head"=true
    B:"twilightforest:ice_crystal"=true
    B:"twilightforest:king_spider"=true
    B:"twilightforest:knight_phantom"=true
    B:"twilightforest:kobold"=true
    B:"twilightforest:lich"=true
    B:"twilightforest:lich_minion"=true
    B:"twilightforest:loyal_zombie"=true
    B:"twilightforest:maze_slime"=true
    B:"twilightforest:mini_ghast"=true
    B:"twilightforest:minoshroom"=true
    B:"twilightforest:minotaur"=true
    B:"twilightforest:mist_wolf"=true
    B:"twilightforest:mosquito_swarm"=true
    B:"twilightforest:naga"=true
    B:"twilightforest:penguin"=true
    B:"twilightforest:pinch_beetle"=true
    B:"twilightforest:quest_ram"=true
    B:"twilightforest:raven"=true
    B:"twilightforest:redcap"=true
    B:"twilightforest:redcap_sapper"=true
    B:"twilightforest:roving_cube"=true
    B:"twilightforest:skeleton_druid"=true
    B:"twilightforest:slime_beetle"=true
    B:"twilightforest:snow_guardian"=true
    B:"twilightforest:snow_queen"=true
    B:"twilightforest:squirrel"=true
    B:"twilightforest:stable_ice_core"=true
    B:"twilightforest:swarm_spider"=true
    B:"twilightforest:tiny_bird"=true
    B:"twilightforest:tower_broodling"=true
    B:"twilightforest:tower_ghast"=true
    B:"twilightforest:tower_golem"=true
    B:"twilightforest:tower_termite"=true
    B:"twilightforest:troll"=true
    B:"twilightforest:unstable_ice_core"=true
    B:"twilightforest:ur_ghast"=true
    B:"twilightforest:wild_boar"=true
    B:"twilightforest:winter_wolf"=true
    B:"twilightforest:wraith"=true
    B:"twilightforest:yeti"=true
    B:"twilightforest:yeti_alpha"=true
    B:"vampirism:advanced_hunter"=true
    B:"vampirism:advanced_vampire"=true
    B:"vampirism:blinding_bat"=true
    B:"vampirism:converted_creature"=true
    B:"vampirism:converted_sheep"=true
    B:"vampirism:converted_villager"=true
    B:"vampirism:dummy_creature"=true
    B:"vampirism:ghost"=true
    B:"vampirism:hunter_trainer"=true
    B:"vampirism:hunter_villager"=true
    B:"vampirism:vampire"=true
    B:"vampirism:vampire_baron"=true
    B:"vampirism:vampire_hunter"=true
    B:"vampirism:vampire_minion_s"=true
    B:"waddles:adelie_penguin"=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


