# Configuration file

~CONFIG_VERSION: 0.1.0

world-1074098043 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@crossroads
    B:overlayEnabled=true
}


world-110082785 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=resonator
    B:overlayEnabled=true
}


world-1592386773 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1784436400 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1974054333 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=duct
    B:overlayEnabled=true
}


world-2087487503 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-435530807 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=monkey
    B:overlayEnabled=true
}


world-65803188 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-71516281 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@progress
    B:overlayEnabled=true
}


world-733121115 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=chisel
    B:overlayEnabled=true
}


world-7668261 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1262365215 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=tall black
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1690200562 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@nuclearc crystal
    B:overlayEnabled=true
}


world1853350654 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=conve
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=certus
    B:overlayEnabled=true
}


world1885065983 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wither
    B:overlayEnabled=true
}


world1944353254 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2603186 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@gala
    B:overlayEnabled=true
}


world3556498 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@tinker solid
    B:overlayEnabled=true
}


world424864027 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world697952138 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


